<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blue</key>
	<string>#0000FF</string>
	<key>red</key>
	<string>#FF0000</string>
	<key>black</key>
	<string>#000000</string>
	<key>white</key>
	<string>#FFFFFF</string>
	<key>theme</key>
	<string>#000000</string>
	<key>themeSelectedButton</key>
	<string>#0000FC</string>
	<key>themeButton</key>
	<string>#FC0000</string>
	<key>primary</key>
	<string>#F0F000</string>
	<key>secondary</key>
	<string>#0F0FFF</string>
</dict>
</plist>
